<div class="container component-home">
  <h3>Votes</h3>
  <app-vote></app-vote>
  <div class="footer-home">
    <div class="row">
      <div class="col-md-6">
        <h4>
          Is there anyone else you would want us to add?
        </h4>
      </div>
      <div class="col-md-4 ml-auto">
          <br/>
          <br/>
        <button
          igxButton="outlined"
          igxButtonColor="black"
          igxButtonBackground="#fffff"
          igxRipple="black"
          igxRippleCentered="true"
        >
          Submit a Name
        </button>
      </div>
    </div>
  </div>
</div>
